<table class="grid">
<tr><td><a href="https://gitlab.com/elga-gmbh/termgit/-/raw/86acbd89d9136709d5aec47dc9b39ed4286dd1fd/terminologies/ValueSet-elga-auditeventtype/CodeSystem-zuppl-elga-auditeventtype-4-elga-auditeventtype.4.fhir.json?inline=false">download FHIR R4 json</a></td><td><a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/elga-gmbh/termgit/-/raw/86acbd89d9136709d5aec47dc9b39ed4286dd1fd/terminologies/ValueSet-elga-auditeventtype/CodeSystem-zuppl-elga-auditeventtype-4-elga-auditeventtype.4.fhir.json">raw FHIR R4 json (from GitLab)</a></td></tr>
</table>