<table class="grid">
<tr><td><a href="https://gitlab.com/elga-gmbh/termgit/-/raw/a98d18a49a313b5584ac73daf49829105b0f3fc6/terminologies/ValueSet-dgc-ratnamemanufacturer/CodeSystem-zuppl-dgc-ratnamemanufacturer-4-dgc-ratnamemanufacturer.4.fhir.json?inline=false">download FHIR R4 json</a></td><td><a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/elga-gmbh/termgit/-/raw/a98d18a49a313b5584ac73daf49829105b0f3fc6/terminologies/ValueSet-dgc-ratnamemanufacturer/CodeSystem-zuppl-dgc-ratnamemanufacturer-4-dgc-ratnamemanufacturer.4.fhir.json">raw FHIR R4 json (from GitLab)</a></td></tr>
</table>