<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220202-122156-CodeSystem-zuppl-eimpf-impfstoffe-4-dgc-vaccinemarketingauthori.html">2022-02-02 12:21:56</a></td><td><a onclick="createDiff('CodeSystem-zuppl-eimpf-impfstoffe-4-dgc-vaccinemarketingauthori.html', '20220202-122156-CodeSystem-zuppl-eimpf-impfstoffe-4-dgc-vaccinemarketingauthori.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220202-142407-CodeSystem-zuppl-eimpf-impfstoffe-4-dgc-vaccinemarketingauthori.html">2022-02-02 14:24:07</a></td><td><a onclick="createDiff('CodeSystem-zuppl-eimpf-impfstoffe-4-dgc-vaccinemarketingauthori.html', '20220202-142407-CodeSystem-zuppl-eimpf-impfstoffe-4-dgc-vaccinemarketingauthori.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>