<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220203-120822-ValueSet-eimpf-specialcasevaccination.html">2022-02-03 12:08:22</a></td><td><a onclick="createDiff('ValueSet-eimpf-specialcasevaccination.html', '20220203-120822-ValueSet-eimpf-specialcasevaccination.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220311-082001-ValueSet-eimpf-specialcasevaccination.html">2022-03-11 08:20:01</a></td><td><a onclick="createDiff('ValueSet-eimpf-specialcasevaccination.html', '20220311-082001-ValueSet-eimpf-specialcasevaccination.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220401-075405-ValueSet-eimpf-specialcasevaccination.html">2022-04-01 07:54:05</a></td><td><a onclick="createDiff('ValueSet-eimpf-specialcasevaccination.html', '20220401-075405-ValueSet-eimpf-specialcasevaccination.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220420-164001-ValueSet-eimpf-specialcasevaccination.html">2022-04-20 16:40:01</a></td><td><a onclick="createDiff('ValueSet-eimpf-specialcasevaccination.html', '20220420-164001-ValueSet-eimpf-specialcasevaccination.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220510-124828-ValueSet-eimpf-specialcasevaccination.html">2022-05-10 12:48:28</a></td><td><a onclick="createDiff('ValueSet-eimpf-specialcasevaccination.html', '20220510-124828-ValueSet-eimpf-specialcasevaccination.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>